.home-container {
	height: 100vh;
	width: 100vw;
	background: lightgray;
	color: white;
	font-family:Courier;
	nav {
		padding: 15px;
		cursor: pointer;
		display: flex;
		justify-content:space-around;
		font-size: 30px;
		div {
			&:hover {
				color: black;
			}
		}
	}
	title-container {
		height:90vh;
		font-size: 100px;
		display: flex;
		justify-content: center;
			p {
				border: 3px solid black;
				padding: 10px;
				background: #b96c6c;
				align-self: center;
			}
	}
}
